# torch>=1.5.0
# torchvision>=0.6.0
# pip install --no-index torch==2.0.1 torchvision==0.15.2 torchaudio==2.0.2 -f D:\pypi
scipy
tensorboardX
mmdet 
mmcv
einops
SimpleITK
# skimage
scikit-image
nibabel
pandas
MedPy
gco-wrapper